# Dependencies
/node_modules
/vendor

# Environment variables
.env
.env.backup
.env.production

# Build files
/public/build
/public/hot

# Storage
/public/storage
/storage/*.key

# Logs
npm-debug.log
yarn-error.log

# Testing
/.phpunit.cache
.phpunit.result.cache

# IDE
/.idea
/.vscode